<div id="<%= dom_id user %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= user.name %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Scheame:</h4>
    <p class="leading-none"><%= user.scheame %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Language:</h4>
    <p class="leading-none"><%= user.language %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Token:</h4>
    <p class="leading-none"><%= user.token %></p>
  </div>
</div>
